# Flutter- / Dart-Buildprodukte
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
generated_plugin_registrant.*

# Android
android/.gradle/
android/app/*.keystore
android/local.properties
android/.idea/
android/**/captures/
android/**/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/*.xcworkspace
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/drive/    # falls automatische downloads etc.

# IDEs und Editoren
.vscode/
.idea/
*.iml

# Betriebssystem
.DS_Store
Thumbs.db

# Log- und temporäre Dateien
*.log
*.tmp

# Datei mit persönlichen Umgebungsvariablen
.env

# User-Secrets (falls verwendet)
secrets.json
